@import "tailwindcss";

.loading-spinner-container {
  @apply flex items-center justify-center min-h-[calc(100vh-7rem)];
}

.loading-spinner {
  @apply inline-block border-[4px] border-[#E8ECEF] rounded-full;
  border-top-color: var(--color-primary);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}